{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "node": "8"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}